:root{
    --color-light-orange: #E7F5F6;
    --color-orange: #FF5C40;
    --color-dark-blue: #22092B;
    --color-grey: #363437da;
    --color-white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark-blue); 
}

.container {
    display: flex;
    flex-direction: column; 
}
.top-menu .logo img {
    width: 200px; 
}

.top-menu {
    background-color: var(--color-light-orange); 
    color: var(--color-dark-blue);
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.top-menu li {
    margin-right: 30px; 
}

.top-menu a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}
.top-menu img {
    margin-left: 40px;
    margin-right: 10px;
    width: 20px; 
    height: 20px;
    
}

main {
    padding: 20px;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

section {
    margin-bottom: 50px;
}
.demo-button button {
    background-color: var(--color-dark-blue); 
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    margin-right: 50px;
}

.demo-button button i {
    margin-left: 20px; 
}

.demo-button button:hover {
    background-color: var(--color-orange); 
}

.top-menu a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.top-menu a:hover,
.top-menu a.selected {
    color: var(--color-orange); 
}

.top-menu a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%; 
    transform: translateX(-50%);
    width: 25px; 
    height: 2px; 
    background-color: var(--color-orange);
    opacity: 0;
    transition: opacity 0.3s;
}

.top-menu a:hover::before,
.top-menu a.selected::before {
    opacity: 1;
}

.top-menu img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.signup-menu {
    margin-left: auto;
}
footer {
    background-color: var(--color-light-orange); 
    color: var(--color-dark-blue);
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.quick-links {
    width: 400px;
    margin: 0 auto;
}

.address {
    width: 400px;
    margin-left: 200px;
}

.address h3, 
.quick-links h3 {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: var(--color-orange); 
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
}

.quick-links a:hover {
    color: var(--color-orange); 
}

h2 {
    font-family: 'Jost', sans-serif;
    color: var(--color-orange); 
    font-size: 40px;
}
#weworkwith{
    text-align: center;
    padding: 40px 20px;
}
#home p {
    font-family: 'Jost', sans-serif;
    color: var(--color-dark-blue);
    text-align: justify;
    padding-bottom: 30px;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    max-width: 50%;
    margin-right: 60px;
}

#heroimg {
    max-width: 50%;
    border-radius: 10%;
}

#muticol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Companies {
    width: 20%; 
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #F8F8F8; 
    padding: 20px;
    text-align: center;
}

.Companies h3 {
    font-size: 18px;
    margin-top: 10px;
}

.companylogo img {
    max-width: 100px;
    height: auto;
}

#copyright {
    width: 100%; 
    text-align: center; 
    margin-top: 10px; 
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex: 1;
    gap: 1.5em;
}

.flex-item {
    width: 45%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-light-orange);
    margin-bottom: 20px;
    position: relative;
}

.rating {
    margin-top: 10px;
    color: var(--color-orange);
}

.name {
    text-align: right;
    margin-top: 10px;
    color: var(--color-orange);
}
