:root{
    --color-light-orange: #E7F5F6;
    --color-orange: #FF5C40;
    --color-dark-blue: #22092B;
    --color-grey: #363437da;
    --color-white: #eee;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark-blue); 
}

.container {
    display: flex;
    flex-direction: column; 
}
.top-menu .logo img {
    width: 200px; 
}

.top-menu {
    background-color: var(--color-light-orange); 
    color: var(--color-dark-blue);
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.top-menu li {
    margin-right: 15px; 
    position: relative;
}

.top-menu a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}
.top-menu img {
    margin-right: 10px;
    width: 20px; 
    height: 20px;
}

main {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

section {
    margin-bottom: 50px;
}

.demo-button button {
    background-color: var(--color-dark-blue); 
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.demo-button button:hover {
    background-color: var(--color-orange); 
}

.top-menu a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}

.top-menu a:hover,
.top-menu a.selected {
    color: var(--color-orange); 
}

.top-menu a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%; 
    transform: translateX(-50%);
    width: 20px; 
    height: 2px; 
    background-color: var(--color-orange);
    opacity: 0;
    transition: opacity 0.3s;
}

.top-menu a:hover::before,
.top-menu a.selected::before {
    opacity: 1;
}

.top-menu img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
footer {
    background-color: var(--color-light-orange); 
    color: var(--color-dark-blue);
    padding: 10px;
    text-align: left;
}
.quick-links {
    max-width: 600px;
    margin: 0 auto;
}

.quick-links h3 {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: var(--color-orange); 
}

.quick-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
}

.quick-links a:hover {
    color: var(--color-orange); 
}

h2 {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: var(--color-orange); 
}

p {
    font-family: 'Jost', sans-serif;
    color: var(--color-dark-blue);
    text-align: justify;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    max-width: 50%;
    margin-right: 60px;
}

#heroimg {
    max-width: 50%;
    border-radius: 10%;
}

