:root{
    --color-light-blue: #E7F5F6;
    --color-orange: #FF5C40;
    --color-dark-blue: #0c0c5a;
    --color-grey: #363437ec;
    --color-white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color: var(--color-white);
    color: var(--color-dark-blue); 
}
#container{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "main" "footer";
}

.container {
    display: flex;
    flex-direction: column; 
}
.top-menu .logo img {
    width: 200px; 
}

.top-menu {
    background-color: var(--color-light-blue); 
    color: var(--color-dark-blue);
    padding: 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.top-menu li {
    margin-right: 30px; 
}

.top-menu a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}
.top-menu img {
    width: 20px; 
    height: 20px;  
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}

main {
    padding: 20px;
    margin-top: 60px;
    margin-left: 20px;
    grid-area: main;
}

section {
    margin-bottom: 50px;
}
.demo-button button {
    background-color: var(--color-dark-blue); 
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    margin-right: 50px;
}

.demo-button button i {
    margin-left: 20px; 
}

.demo-button button:hover {
    background-color: var(--color-orange); 
}

.top-menu a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.top-menu a:hover,
.top-menu a.selected {
    color: var(--color-orange); 
}

.top-menu a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%; 
    transform: translateX(-50%);
    width: 25px; 
    height: 2px; 
    background-color: var(--color-orange);
    opacity: 0;
    transition: opacity 0.3s;
}

.top-menu a:hover::before,
.top-menu a.selected::before {
    opacity: 1;
}

.top-menu img {
    width: 20px;
    height: 20px;
}
.signup-menu {
    margin-left: auto;
}
footer {
    background-color: var(--color-light-blue); 
    color: var(--color-dark-blue);
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    grid-area: footer;
}
.quick-links, .product-links {
    width: 400px;
    margin: 0 auto;
}

.address {
    width: 400px;
    margin-left: 200px;
}
.product-link{
    width: 400px;
}

.address h3, 
.quick-links h3,
.product-links h3 {
    font-family: 'Jost', sans-serif;
    font-weight: bold;
    color: var(--color-orange); 
}

.quick-links ul, .product-links ul {
    list-style: none;
    padding: 0;
}

.quick-links li, .product-links li {
    margin-bottom: 10px;
}

.quick-links a, .product-links a {
    text-decoration: none;
    color: var(--color-dark-blue);
    transition: color 0.3s;
}

.quick-links a:hover, .product-links a:hover {
    color: var(--color-orange); 
}

h2 {
    font-family: 'Jost', sans-serif;
    color: var(--color-dark-blue); 
    font-size: 40px;
}
#home p {
    font-family: 'Jost', sans-serif;
    color: var(--color-dark-blue);
    text-align: justify;
    padding-bottom: 30px;
}
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-content {
    max-width: 50%;
    margin-right: 20px;
}

#heroimg {
    max-width: 50%;
    border-radius: 10%;
}

#muticol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#copyright {
    width: 100%; 
    text-align: center; 
    margin-top: 10px; 
}
.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex: 1;
    gap: 2em;
}

.flex-item {
    margin-top: 20px;
    width: 35%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-light-blue);
    margin-bottom: 20px;
    position: relative;
}

.flex-item p {
    text-align: justify;
    /*margin-right: 40px;*/
    margin-left: 20px;
    color: var(--color-dark-blue);
}

.rating {
    margin-left: 40px;
    margin-top: 10px;
    color: var(--color-orange);
}

.name {
    /*text-align: right;*/
    margin-top: 10px;
    color: var(--color-orange);
}

.price h2,
.productdetail h2,
.aboutus h2{
    text-align: center;
    margin-top: 50px;
}
.productdetail p{
    text-align: center;
    /*margin-right: 150px;*/
    margin-left: 20px;
    margin-bottom: 40px;
    color: var(--color-grey);
}
.price p{
    text-align: center;
    /*margin-right: 150px;*/
    margin-left: 20px;
    margin-bottom: 40px;
    color: var(--color-grey);
    
}
.aboutus p {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--color-dark-blue);
}
h4{
    font-family: 'Jost', sans-serif;
    color: var(--color-orange); 
    font-size: 15px;
    margin-left: 20px;
}

.pricing-table {
    margin-top: 20px;
}

table {
    margin-right: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}

th {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

tr:nth-child(odd) {
    background-color: var(--color-light-blue);
}
.pricing-table i {
    font-size: 18px;
    color: #4CAF50; 
}
i.fa-times {
    color: #F44336; 
}

#contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    flex: 1;
    padding: 20px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.contact-form {
    flex: 1;
    margin-left: 350px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.contact-form form {
    display: grid;
    gap: 20px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 50%;
}

.contact-form button:hover {
    background-color: var(--color-orange);
}

#categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: 40px 0px;
    justify-content: center;
}
#categories > section {
    margin-bottom: 20px;
    text-align: center;
}
#categories img {
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
#categories h3 {
    margin-top: 0;
    text-align: center;
    color: var(--color-dark-blue);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px; 
    }
    .mobile{
        display: none;
    } 
    .top-menu {
        padding: 15px;
    }

    .top-menu li {
        margin: 0 10px;
    }

    .demo-button button {
        margin-right: 20px;
    }

    main {
        margin: 20px;
    }

    #muticol {
        flex-wrap: wrap;
    }

    #heroimg {
        border-radius: 0;
        border-radius: 10%;

    }

    .flex-item {
        width: 100%;
        margin: 0;
        padding: 10px;
    }

    .contact-container {
        flex-direction: row;
    }

    .contact-info,
    .contact-form {
        margin: 30px;
        align-items: center;
    }

    #categories {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 10px;
    }

    .quick-links, .product-links {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .address {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }
    
}

@media only screen and (max-width:768px) {
    *, *::before, *::after {
        box-sizing: border-box;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    } 
    body {
        margin: 0;
        font-size: 12px;
    }
    .container {
        margin: 0;
    }
    .top-menu {
        width: 100%;
        padding: 2px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-menu ul {
        margin-top: 10px;
        
    }

    .top-menu img {
        margin-top: 20px;
        width: 20px; 
        height: 20px;  
    }

    .top-menu li {
      
        padding: 10px;
    } 
   
    main {
        margin: 0px;
        text-align: center;
    }

    #muticol {
        flex-wrap: wrap;
    }

    #heroimg {
        display: block;
    }

    .flex-item {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .flex-item p {
        text-align: right;
    }
    .contact-container {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        margin: 20px;
        align-items: center;
    }

    .contact-form {
        margin-top: 20px;
    }

    #categories {
        grid-template-columns: 1fr;
        margin: 10px;
    }
    #categories > section {
        text-align: center;
    }
    nav .demo-button button {
        display: none;
    }
    h4{
        text-align: left;
    }
    .flex-item p {
        text-align: center; 
    }

    .quick-links,
    .address, .product-links{
        width: 100%; 
        text-align: center;
        margin: 0;
    }

    .footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}